
<h1>Björn</h1>
<h1>Bergfeldt</h1>
<p>Industrial Engineering and Management with a Specialisation in Computer Science at Linköping University, I am pursuing a Master's within Digitization and Management.</p>

<div id="skills-div">
    <div *ngFor="let title of skillsTitleArray">
        <p>{{title}}</p>
    </div>
</div>

<h1>Projects</h1>
<div class="two-columns">
    <app-project-thumbnail [imageUrl]="urlExsitec" [logoUrl] = "logoExsitec" [logoWidth] = 200 [logoHeight] = 50 [backgroundColor]="{background: 'rgba(94, 72, 136, 0.79)'}" [description]="descriptionExsitec"></app-project-thumbnail>
    <app-project-thumbnail [imageUrl]="urlReceptly" [backgroundColor]="{background: 'rgba(85, 170, 171, 0.72)'}" [description]="descriptionReceptly" [title]="titleReceptly"></app-project-thumbnail>
    <app-project-thumbnail [imageUrl]="urlLssh" [logoUrl] = "logoLssh" [logoWidth] = 100 [logoHeight] = 100 [backgroundColor]="{background: 'rgba(11, 67, 58, 0.76)'}" [description]="descriptionLssh"></app-project-thumbnail>
</div>
